
<style>

</style>

<main class="main">
  <div class="content">
    <h1>Обозеватель файлов (Сидякин Дмитрий)</h1>
    <p></p>
    <p>Список дисков: <a href="#"> Вывести список дисков, пример: </a>
    <a href="#"  onclick="alert('Список дисков!')">C:</a> |
    <a href="#">D:</a> |
    <a href="#">E:</a>
    </p>
    <p>Путь: </p>
    <table border="1" [cellPadding]="5" [cellSpacing]="0">
      <tr>
        <td>Тип</td>
        <td>Имя</td>
        <td>Размер</td>
        <td>Дата создания</td>
        <td>Дата изменения</td>
      </tr>
    </table>
  </div>
</main>


<router-outlet />
